*{
  text-decoration: none;
  box-sizing: border-box;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
 
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
body{
  background: #ED7200;
  //opacity: 0.4;
  
}
#main{

  border-radius: 77px;
  background: linear-gradient(0deg, #FF8B2C 1.71%, #FF8D2A 4.22%, #FFA413 37.82%, #FFB105 69.39%, #FFB600 96.65%);
}
header{

  nav{
    
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
     background: #ED7200;
    ul{
      padding:1rem 0rem 2rem 0rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
     .right{
      display: flex;
      align-items: center;
      img{
        width: 20%;
        margin-right: 1rem;
      }
      li{
        font-size: 20px;
        color: #fff;
        
      }
     }
      img{
        width: 10%;
      }
      .nav-list{
        display: flex;
        justify-content: space-between;
        width: 30%;
        li{
          a{
            font-size: 2rem;
            color: #fff;
            
          }
        }
      }
    }
  }

position: fixed;
top:0;
z-index: 1;
width: 100%;
left: 0;
  filter: drop-shadow(0px 4px 35px rgba(162, 58, 0, 0.75));

}
.content{
  background-image: url(../images/content.png);
  height: 100vh;
  border-radius: 77px;
   border: 40px solid #ED7200;
  background-size: cover;
  background-repeat: no-repeat;
  //opacity: 0.4;
  //background: linear-gradient(0deg, #FF8B2C 1.71%, #FF8D2A 4.22%, #FFA413 37.82%, #FFB105 69.39%, #FFB600 96.65%);

}