* {
  text-decoration: none !important;
  box-sizing: border-box;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

body {
  background: #ed7200 !important;
}

#main {
  height: 100vh;
  border-radius: 77px;
  background: linear-gradient(0deg, #ff8b2c 1.71%, #ff8d2a 4.22%, #ffa413 37.82%, #ffb105 69.39%, #ffb600 96.65%);
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  left: 0;
  filter: drop-shadow(0px 4px 35px rgba(162, 58, 0, 0.75));
}
header nav {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  background: #ed7200;
}
header nav ul {
  padding: 1rem 0rem 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header nav ul .right {
  display: flex;
  align-items: center;
}
header nav ul .right img {
  width: 20%;
  margin-right: 1rem;
}
header nav ul .right li {
  font-size: 20px;
  color: #fff;
}
header nav ul img {
  width: 10%;
}
header nav ul .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
header nav ul .nav-list li {
  width: 150px;
  text-align: center;
}
header nav ul .nav-list li a {
  font-size: 2rem;
  color: #fff;
}
header nav ul .nav-list .active {
  color: #fff;
  border: 3px solid;
  padding: 0.5rem 0.5rem;
  border-radius: 29px;
  width: 150px;
  display: block;
}

.content {
  background-image: url(../images/content.png);
  height: 100vh;
  border-radius: 77px;
  border: 40px solid #ed7200;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.content .list-img img:nth-child(1) {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -6.5%;
}
.content .list-img img:nth-child(2) {
  width: 8%;
  position: absolute;
  z-index: 1;
  top: 12rem;
  left: -4.2rem;
}
.content .list-img img:nth-child(3) {
  width: 8%;
  position: absolute;
  z-index: 1;
  top: 6rem;
  left: 12rem;
}
.content .list-img img:nth-child(4) {
  width: 8%;
  position: absolute;
  top: 9%;
  left: 40%;
}
.content .list-img img:nth-child(5) {
  width: 6%;
  position: absolute;
  top: 4%;
  right: 40%;
}
.content .list-img img:nth-child(6) {
  width: 8%;
  position: fixed;
  top: 38%;
  right: 0%;
}
.content .list-img img:nth-child(7) {
  width: 8%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.content .container {
  display: flex;
  width: 100%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10rem;
}
.content .content-left {
  position: relative;
}
.content .content-left .list-content {
  top: 0;
  padding: 2rem 5rem;
  position: absolute;
  width: 100%;
}
.content .content-left .list-content .content-title p {
  font-size: 1.6rem;
  padding-top: 1rem;
}
.content .content-left .list-content .list-title {
  padding: 2rem;
}
.content .content-left .list-content .list-title img {
  width: 5%;
}
.content .content-left .list-content .list-title p {
  padding-top: 0.8rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.content .content-left img:nth-child(2) {
  width: 12%;
  position: absolute;
  z-index: -1;
  bottom: -20%;
  left: 38%;
}
.content .content-center {
  margin: 0 -4.7% 0 -2.8%;
  position: relative;
  z-index: 1;
}
.content .content-right {
  position: relative;
}
.content .content-right .form-control2 {
  padding: 2rem 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content .content-right .form-control2 form {
  margin-top: 10%;
}
.content .content-right .form-control2 form .text-form {
  margin-top: 1rem;
}
.content .content-right .form-control2 form .text-form .input-form {
  display: flex;
}
.content .content-right .form-control2 form .text-form .input-form input {
  padding: 1rem 0rem 1.5rem 1rem;
}
.content .content-right .form-control2 form .text-form .input-form input:nth-child(1) {
  margin-right: 1rem;
  width: 30%;
}
.content .content-right .form-control2 form .text-form .input-form .input-group {
  width: 70%;
}
.content .content-right .form-control2 form .text-form .input-form .input-group .input-group-text {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  background-color: unset;
  border: none;
  border-radius: none;
}
.content .content-right .form-control2 form .text-form .select-service input {
  width: 80%;
  margin-right: 1rem;
}
.content .content-right .form-control2 form .text-form .select-service img {
  width: 14%;
  position: unset;
}
.content .content-right .form-control2 form .text-form input {
  font-size: 1.5rem;
  padding: 1rem 16rem 1.5rem 1rem;
  outline: none;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 16px;
  border: none;
}
.content .content-right .form-control2 form .text-form button {
  width: 80%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  vertical-align: middle;
  font-size: 1.5rem;
  font-family: "Coiny", cursive;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background: #ff000a;
  border-radius: 0.75em;
}
.content .content-right .form-control2 form .text-form button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0px #93000a, 0 0.5em 0 0 #93000a;
}
.content .content-right img:nth-child(2) {
  width: 130%;
  position: absolute;
  top: -50%;
  z-index: -1;
  right: -16%;
}
.content .content-right img:nth-child(3) {
  width: 50%;
  position: absolute;
  top: -3%;
  right: 25%;
}

.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control,
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select,
.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-top-right-radius: 16px !important;
  border: none;
  border-bottom-right-radius: 16px !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  font-size: 1.5rem;
  padding: 0.8rem;
}

tr:last-child {
  display: none-;
}

.content-event {
  background-image: url(../images/bg-event.png);
  height: 650px;
  background-size: cover;
  padding: 6rem 0;
  background-repeat: no-repeat;
}
.content-event .title-event h2 {
  font-size: 6rem;
  text-align: center;
  padding: 2rem;
  font-family: "Coiny", cursive;
  color: #fff;
}
.content-event .flag-2 {
  width: 26%;
  position: absolute;
  top: 0;
  left: -3.8rem;
}
.content-event .flag-1 {
  width: 26%;
  position: absolute;
  top: 0;
  right: -3.8rem;
}
.content-event .container {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  padding: 6rem 0 0 0;
}
.content-event .container .btn {
  cursor: pointer;
  outline: none;
  border: none;
}
.content-event .container .container-event {
  display: flex;
}
.content-event .container .container-event .list-item {
  margin: 0rem 1rem;
  border-radius: 20px;
  box-shadow: 4px 4px 45px rgba(109, 46, 0, 0.35);
  border-radius: 20px;
  background-color: #fff;
  padding: 0px 0px 25px;
}
.content-event .container .container-event .list-item img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.content-event .container .container-event .list-item .card-event .item {
  padding: 2rem 0 0 2rem;
}
.content-event .container .container-event .list-item .card-event .item h2 {
  font-weight: 700;
  font-size: 3rem;
}
.content-event .container .container-event .list-item .card-event .item p:nth-child(-n+2) {
  font-size: 1.2rem;
  font-weight: 500;
}
.content-event .container .container-event .list-item .card-event .item p:nth-child(3) {
  font-size: 1.2rem;
  font-weight: 500;
}
.content-event .container .container-event .list-item .card-event .item p:nth-child(4) {
  color: #fa7d09;
  font-weight: 700;
  font-size: 2.5rem;
}
.content-event .container .container-event .list-item .card-event .item p:nth-child(5) a {
  width: 60%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: none;
  font-family: "Coiny", cursive;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  background: #ff000a;
  border-radius: 0.75em;
}
.content-event .container .container-event .list-item .card-event .item p:nth-child(5) a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0px #93000a, 0 0.5rem 0 0 #93000a;
}
.content-event .container .container-event .list-item .card-event .item img {
  width: 5%;
}

.content-detail .container {
  padding: 5rem 5rem 5rem 5rem;
  top: 60%;
}
.content-detail .container .bg-payment .event-detail {
  font-style: normal;
  display: flex;
  padding: 12rem 8rem 0rem 8rem;
  position: absolute;
  top: 0;
  left: 0;
}
.content-detail .container .bg-payment .event-detail .list-detail {
  margin: 0 1rem;
  width: 40%;
  text-align: justify;
}
.content-detail .container .bg-payment .event-detail .list-detail img {
  border-radius: 1rem;
}
.content-detail .container .bg-payment .event-detail .list-detail p img {
  width: 5%;
}
.content-detail .container .bg-payment .event-detail .list-detail p:nth-of-type(1) {
  margin-top: 2rem;
  color: #444444;
  font-weight: 500;
  font-size: 1.2rem;
}
.content-detail .container .bg-payment .event-detail .list-detail p:nth-of-type(2) {
  color: #fa7d09;
  font-weight: 700;
  font-size: 2.5rem;
}
.content-detail .container .bg-payment .event-detail .list-detail h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #6c7272;
}
.content-detail .container .bg-payment .event-detail .list-detail h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
}
.content-detail .container .bg-payment .event-detail .list-detail h3 b {
  color: #fa7d09;
  font-weight: 700;
  font-size: 2rem;
}

.slick-track {
  width: 100% !important;
}

.icon-img {
  position: absolute;
  bottom: 9%;
  left: -5%;
}

.content-contact .title-contact {
  padding-top: 6rem;
}
.content-contact .title-contact h2 {
  font-size: 6rem;
  text-align: center;
  padding: 2rem;
  font-family: "Coiny", cursive;
  color: #fff;
}
.content-contact .container {
  top: 60%;
  padding: 0rem 0rem 5rem 14rem;
}
.content-contact .container .contact-left {
  position: relative;
  width: 65%;
}
.content-contact .container .contact-left .form-contact {
  width: 100%;
  top: 0;
  padding: 5rem;
  position: absolute;
}
.content-contact .container .contact-left .form-contact .content-title h4 {
  color: #23221f;
  opacity: 0.7;
}
.content-contact .container .contact-left .form-contact form {
  padding: 1.5rem 2rem;
}
.content-contact .container .contact-left .form-contact form .form-text {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
}
.content-contact .container .contact-left .form-contact form .form-text button {
  width: 40%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: none;
  font-family: "Coiny", cursive;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background: #ff000a;
  border-radius: 0.75em;
}
.content-contact .container .contact-left .form-contact form .form-text button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0px #93000a, 0 0.5rem 0 0 #93000a;
}
.content-contact .container .contact-left .form-contact form .form-text textarea {
  resize: none;
  outline: none;
  border: none;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 16px;
  padding: 1rem 1rem 5rem 1rem;
  font-size: 1.5rem;
}
.content-contact .container .contact-left .form-contact form .form-text input {
  font-size: 1.5rem;
  padding: 1rem 3rem 1.5rem 1rem;
  outline: none;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 16px;
  border: none;
  width: 100%;
}
.content-contact .container .contact-left .form-contact form .form-text .form-col-3 {
  width: 40%;
  margin-right: 2rem;
}
.content-contact .container .contact-left .form-contact form .form-text .form-col-6 {
  width: 60%;
}
.content-contact .container .contact-right img {
  margin-bottom: 1.5rem;
}
.content-contact .container .contact-right .contact {
  position: relative;
}
.content-contact .container .contact-right .contact .list-contact {
  display: flex;
  padding: 4.5rem;
  position: absolute;
  top: 0;
}
.content-contact .container .contact-right .contact .list-contact .icon {
  width: 24%;
}
.content-contact .container .contact-right .contact .list-contact .icon .icon-contact {
  width: 70%;
}
.content-contact .container .contact-right .contact .list-contact .content-contact h2 {
  color: #12265a;
}
.content-contact .container .contact-right .contact .list-contact .content-contact p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #23221f;
}

.content-pay .title-pay {
  padding: 6rem;
}
.content-pay .title-pay h2 {
  font-size: 6rem;
  text-align: center;
  padding: 2rem;
  font-family: "Coiny", cursive;
  color: #fff;
}
.content-pay .container {
  padding: 0 3rem 5rem 9rem;
}
.content-pay .container label {
  font-size: 1.8rem;
  font-weight: 700;
  color: #23221f;
  display: block;
  margin: 0.3rem;
}
.content-pay .container .ticket-pay img {
  position: absolute;
  top: -4%;
  width: 20%;
  z-index: 1;
}
.content-pay .container .ticket-pay img:nth-child(1) {
  left: 15%;
}
.content-pay .container .ticket-pay img:nth-child(2) {
  right: 10%;
}
.content-pay .list-content {
  padding: 5rem 5rem 0rem 8rem !important;
}
.content-pay .list-content .text-form input {
  font-size: 1.5rem;
  padding: 1rem 3rem 1.5rem 1rem;
  outline: none;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 16px;
  border: none;
  width: 100%;
}
.content-pay .list-content .text-form .form-col-8 {
  width: 60%;
}
.content-pay .list-content .text-form .form-pay {
  display: flex;
}
.content-pay .list-content .text-form .form-pay .form-col-5 {
  width: 60%;
}
.content-pay .list-content .text-form .form-pay .form-col-2 {
  width: 40%;
  margin: 0 6rem;
}
.content-pay .content-right .form-control2 form {
  margin-top: 2%;
}
.content-pay .content-right .form-control2 form .text-form {
  margin: 0;
}
.content-pay .content-right .form-control2 form .text-form:nth-last-child(2) input {
  width: 40%;
  padding: 1rem 5rem 1.5rem 1rem;
}

.content .content-right .form-control2 form .text-form .input-form .input-group {
  width: 100%;
}

.content-payment .title-pay {
  padding: 4.5rem;
}
.content-payment .title-pay h2 {
  font-size: 6rem;
  text-align: center;
  padding: 2rem;
  font-family: "Coiny", cursive;
  color: #fff;
}
.content-payment .container {
  padding: 0 3rem 5rem 14rem;
}
.content-payment .container .bg-payment {
  position: relative;
}
.content-payment .container .bg-payment .list-ticket {
  justify-content: space-between;
  width: 100%;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  padding: 4.1rem 2rem;
}
.content-payment .container .bg-payment .list-ticket .list-item {
  text-align: center;
}
.content-payment .container .bg-payment .list-ticket .list-item .card-event {
  padding: 2rem 3rem 1rem;
  border-radius: 1.6rem;
  background-color: #fff;
}
.content-payment .container .bg-payment .list-ticket .list-item .card-event .item {
  margin-top: 2rem;
}
.content-payment .container .bg-payment .list-ticket .list-item .card-event .item h2 {
  font-weight: 700;
}
.content-payment .container .bg-payment .list-ticket .list-item .card-event .item p:nth-of-type(1) {
  margin-top: 1.5rem;
  color: #ffc226;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}
.content-payment .container .bg-payment .list-ticket .list-item .card-event .item p:nth-of-type(2) {
  font-size: 2rem;
  font-weight: 700;
}
.content-payment .container .bg-payment .list-ticket .list-item .card-event .item p:nth-of-type(3) {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}
.content-payment .container .bg-payment .list-ticket .list-item .card-event .item img {
  width: 30%;
}
.content-payment .container .bg-payment .count-ticket {
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  left: 10%;
  font-weight: 500;
}

.btn-pay {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 2.5%;
  text-align: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
}
.btn-pay a {
  width: 40%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  vertical-align: middle;
  font-size: 1rem;
  font-family: "Coiny", cursive;
  color: #fff;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  background: #ff000a;
  border-radius: 0.75em;
}
.btn-pay a:hover {
  color: #fff;
}
.btn-pay a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0px #93000a, 0 0.5em 0 0 #93000a;
}

/*# sourceMappingURL=style.css.map */
