$primary-color: #7fad39;
$seconday-color: #120851;
$white-color: #ffffff;
$heading-color: #111111;
$para-color: #6f6f6f;
$black-color: #000000;
$heading-color-2: #252525;
$normal-color: #1c1c1c;
$background: #F7F7F7;
$background-2: #f2f2f2;
$border: #D4D4D7;
$border-1: #e1e1e1;
$red-color: #E73F3F;
$orange-color: #FF9138;
$fm-unna: 'Unna', serif;
$fm-nunito: 'Nunito Sans', sans-serif;